extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/submit/', method='POST', enctype='multipart/form-data')
    label #{fake}
    input(id="name-field" type='text' name='name')
    br()
    br()
    input(type='file', name='objects' multiple)
    input(type='submit' value="Upload")
    a(id='download-btn' href=`/task/${fake}`)
      button(type="button") Download